html {
    touch-action: manipulation;
}

body {
    background : linear-gradient(to right,
                               orange,
                               yellow,
                               green,
                               aqua,
                               blue);
    color: #eeeeee;
}

#result {
    border: black 10px dashed;
    padding: 45px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    height: 32px;
    font-weight: bold;
}
